.appContainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
}

.hdrContainer {
    max-width: 850px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    background-color: #F0F8FF;
}
